
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">

	  <h2>{{curTitle}}</h2>
	  <h2>Sarva Shiksha Abhiyan</h2>
	  <br>
	  
	  <!--img src="{{ url_for('static', filename='mhrd.jpg') }}" alt="Mountain View" width="500" height="600"-->
	  
	  <p style="margin-right:15px;margin-left:15px;">SSA has been operational since 2000-2001 to provide for a variety of interventions for universal access and retention, bridging of gender and social category gaps in elementary education and improving the quality of learning. SSA interventions include inter alia, opening of new schools and alternate schooling facilities, construction of schools and additional classrooms, toilets and drinking water, provisioning for teachers, regular teacher in service training and academic resource support, free textbooks& uniforms and support for improving learning achievement levels / outcome. With the passage of the RTE Act, changes have been incorporated into the SSA approach, strategies and norms. The changes encompass the vision and approach to elementary education, guided by the following principles :</p>
	  <ol style="margin-right:15px; margin-left:15px;"><li> Holistic view of education, as interpreted in the National Curriculum Framework 2005, with implications for a systemic revamp of the entire content and process of education with significant implications for curriculum, teacher education, educational planning and management.</li><br>
	  <li>Equity, to mean not only equal opportunity, but also creation of conditions in which the disadvantaged sections of the society – children of SC, ST, Muslim minority, landless agricultural workers and children with special needs, etc. – can avail of the opportunity</li><br>
	  <li>Access, not to be confined to ensuring that a school becomes accessible to all children within specified distance but implies an understanding of the educational needs and predicament of the traditionally excluded categories – the SC, ST and others sections of the most disadvantaged groups, the Muslim minority, girls in general, and children with special needs.</li><br>
	  <li>Gender concern, implying not only an effort to enable girls to keep pace with boys but to view education in the perspective spelt out in the National Policy on Education 1986 /92; i.e. a decisive intervention to bring about a basic change in the status of women.</li><br>
	  <li>Centrality of teacher, to motivate them to innovate and create a culture in the classroom, and beyond the classroom, that might produce an inclusive environment for children, especially for girls from oppressed and marginalised backgrounds.</li><br>
	  <li>Moral compulsion is imposed through the RTE Act on parents, teachers, educational administrators and other stakeholders, rather than shifting emphasis on punitive processes.</li><br>
	  <li>Convergent and integrated system of educational management is pre-requisite for implementation of the RTE law. All states must move in that direction as speedily as feasible.</li><br>
	  
	  </ol>
	
	  
	  
	  <kbd data-toggle="collapse" data-target="#consoleinfo" aria-expanded="false" aria-controls="consoleinfo">console</kbd>
	  
		<div class="collapse" id="consoleinfo">
		  <div class="well">
			<p>When someone refers to "the console," they are referring to where information from your program is ouput. You will see an example of "output to console" below. If you want this message to go away, just click again on the "console" button that you originally clicked on.</p>
		  </div>
		</div>
		
	
	  
		
		
		
		<p>Click For More Details <a href="http://ssashagun.nic.in/"><button class="btn btn-primary">Click</button></a></p>
	  </div>

</body>

{% endblock %}

