
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">
	 <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=q87B352zrZ0" allowfullscreen></iframe>
</div>
	  <h2>Centrally Sponsored Scheme on Teacher Education</h2>
	  <h3>Original Scheme</h3>
	  <p>As envisaged in the National Policy on Education (NPE), 1986, and its Programme of Action (POA), a Centrally-Sponsored Scheme of Restructuring and Reorganization of Teacher Education was launched in 1987 to create a sound institutional infrastructure for pre-service and in-service training of elementary & secondary school teachers and for provision of academic resource support to elementary and secondary schools. The Scheme had, the following component:
<li>Setting up of District Institutes of Education and Training (DIETs)  </li>
<li>Strengthening of Secondary Teachers Education Institutions into Colleges of Teacher Education (CTEs) and Institutes of Advanced Study in Education (IASEs)  </li>
<li> Strengthening of State Councils of Educational Research and Training (SCERTs) </li>
Under the Scheme, recurring and non-recurring Central assistance is provided to the State Governments as resource support to the DIETs, CTEs, IASEs and SCERTs
	  </p>
	  <p></p>
	  <p></p>
	  <p></p>
	  
	  
	  <kbd data-toggle="collapse" data-target="#consoleinfo" aria-expanded="false" aria-controls="consoleinfo">console</kbd>
	  
		<div class="collapse" id="consoleinfo">
		  <div class="well">
			<p>When someone refers to "the console," they are referring to where information from your program is ouput. You will see an example of "output to console" below. If you want this message to go away, just click again on the "console" button that you originally clicked on.</p>
		  </div>
		</div>
		
	
	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>
</body>

{% endblock %}

