{% extends "header.html" %}
{% block body%} 

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#basics" aria-controls="basics" role="tab" data-toggle="tab">Elementary Education</a></li>
    <li role="presentation"><a href="#flask" aria-controls="flask" role="tab" data-toggle="tab">Secondary Education</a></li>
    <li role="presentation"><a href="#django" aria-controls="django" role="tab" data-toggle="tab">Higher Education</a></li>
	  <li role="presentation"><a href="#mysql" aria-controls="mysql" role="tab" data-toggle="tab">Technical Education</a></li>
		  <li role="presentation"><a href="#sqlite" aria-controls="sqlite" role="tab" data-toggle="tab">Adult Education</a></li>
			 <li role="presentation"><a href="#dam" aria-controls="dam" role="tab" data-toggle="tab">Teacher Education</a></li>
				
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="basics">
  <ul>
  
  {% for t in TOPIC_DICT["Elementary Education"] %} 
  <li>
  <a href="{{t[1]}}">{{t[0]}}</a>
  <p>   </p>
   <p>   </p>
  
  </li>
  {% endfor %} 
  
  </ul>
 
  </div>
  <div role="tabpanel" class="tab-pane fade" id="flask">
   <ul>
  
  {% for t in TOPIC_DICT["Secondary Education"] %} 
  <li>
  <a href="{{t[1]}}">{{t[0]}}</a>
    <p>   </p>  <p>   </p>
  </li>
  {% endfor %} 
  
  </ul>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="django"> <ul>
  
  {% for t in TOPIC_DICT["Higher Education"] %} 
  <li>
  <a href="{{t[1]}}">{{t[0]}}</a>
    <p>   </p>  <p>   </p>
  </li>
  {% endfor %} 
  
  </ul></div>
   <div role="tabpanel" class="tab-pane fade" id="mysql"> <ul>
  
  {% for t in TOPIC_DICT["Technical Education"] %} 
  <li>
  <a href="{{t[1]}}">{{t[0]}}</a>
    <p>   </p>  <p>   </p>
  </li>
  {% endfor %} 
  
  </ul></div>
    <div role="tabpanel" class="tab-pane fade" id="sqlite"> <ul>
  
  {% for t in TOPIC_DICT["Adult Education"] %} 
  <li>
  <a href="{{t[1]}}">{{t[0]}}</a>
    <p>   </p>  <p>   </p>
  </li>
  {% endfor %} 
  
  </ul></div>
	 <div role="tabpanel" class="tab-pane fade" id="dam"> <ul>
  
  {% for t in TOPIC_DICT["Teacher Education"] %} 
  <li>
  <a href="{{t[1]}}">{{t[0]}}</a>
    <p>   </p>  <p>   </p>
  </li>
  {% endfor %} 
  
  </ul></div>
	
</div>

</div>


{%endblock%}