
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">

	  <h2>{{curTitle}}</h2>
	  <br>
	  

	  
	  
	  <kbd data-toggle="collapse" data-target="#consoleinfo" aria-expanded="false" aria-controls="consoleinfo">console</kbd>
	  
		<div class="collapse" id="consoleinfo">
		  <div class="well">
			<p>When someone refers to "the console," they are referring to where information from your program is ouput. You will see an example of "output to console" below. If you want this message to go away, just click again on the "console" button that you originally clicked on.</p>
		  </div>
		</div>
			 <p>SSA has been operational since 2000-2001 to provide for a variety of interventions for universal access and retention, bridging of gender and social category gaps in elementary education and improving the quality of learning. SSA interventions include inter alia, opening of new schools and alternate schooling facilities, construction of schools and additional classrooms, toilets and drinking water, provisioning for teachers, regular teacher in service training and academic resource support, free textbooks& uniforms and support for improving learning achievement levels / outcome. With the passage of the RTE Act, changes have been incorporated into the SSA approach, strategies and norms. The changes encompass the vision and approach to elementary education, guided by the following principles :</p>
	  <ol><ul> Holistic view of education, as interpreted in the National Curriculum Framework 2005, with implications for a systemic revamp of the entire content and process of education with significant implications for curriculum, teacher education, educational planning and management.</ul>
	  <ul>Holistic view of education, as interpreted in the National Curriculum Framework 2005, with implications for a systemic revamp of the entire content and process of education with significant implications for curriculum, teacher education, educational planning and management.</ul></ol>
	  <p></p>
	  <p></p>
		
	
	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>

</body>

{% endblock %}

