
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">

	  <h2>{{curTitle}}</h2>
	  <br>
	  	<h5>When someone refers to "the console," they are referring to where information from your program is ouput. You will see an example of "output to console" below. If you want this message to go away, just click again on the "console" button that you originally clicked on.</h5>
		
	
	  <div class="embed-responsive embed-responsive-16by9"></div>
	  
	  <p></p>
	  <p></p>
	  <p></p>
	  <p></p>
	  
	  
	 
	  
		
		
	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>

</body>

{% endblock %}

